/* src/styles/global.css */
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5; /* Use a light background color matching MUI theme */
}